@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family:  'Oswald', sans-serif;
}

body {
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background: linear-gradient(45deg,#010758,#490d61);
   color: #fff;
  
}
.wrapper {
   box-shadow: -10px -10px 30px 0 rgb(43, 4, 84) , 
                10px 10px 30px 0 rgba(174, 174, 174, 0.4),
                inset -10px -10px 10px 0 rgba(174, 174, 192, 0.25),
                inset 10px 10px 10px 0  rgba(255, 255, 255, 0.85) ;
   padding :2rem;
   border-radius: 8px;
   max-width: 85%;

}

.logo {
    max-width: 80px;
    aspect-ratio: 1/1;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 50%;
    background: linear-gradient(145deg, #ffffff, #d8d8db);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo i {
    font-size: 40px;
    color: rgb(255, 67, 67);
}

form #text {
    resize: vertical;
    width: 100%;
    background-color: #f0f0f3 ;
    border : none;
    padding: 1rem;
    margin-bottom: 1.1rem;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #c2c2c5,
    inset -5px -5px 10px #ffffff;
    text-transform: none;
    font-weight: 400;
    letter-spacing: 00.05rem;
}
form #text:focus{
    outline: none;
}
.inputLabel{
    display : flex ;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.inputLabel * {
    box-shadow: inset 5px 5px 10px #3a24c7,
    inset -5px -5px 10px #202085;
    font-size: 0.8rem;
    font-weight: 500;
}
.inputLabel .inputname {
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.inputLabel .inputValue{
    padding: 0.5rem 1rem;
    border-radius: 50%; 
}
input[type=range]{
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: #36030f;
    height: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    box-shadow: inset 5px 5px 10px #c2c2c5,
    inset -5px -5px 10px #ffffff;
    margin-bottom: 1.5rem;
    
}
input[type=range]::-webkit-slider-runnable-track{
    appearance: none;
    overflow: hidden;
    height: 10px;
    border-radius: 5px;
}
input[type="range"]::-moz-range-progress {
    background-color: rgb(255, 67, 67); 
    height: 10px;
    border-radius: 5px;
}
form input[type="range"]::-ms-fill-lower {
    background-color: rgb(255, 67, 67); 
    height: 10px;
    border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb{
    width: 100%;
    -webkit-appearance: none;
    background-color:  rgb(255, 67, 67);
    width: 10px;
    height : 10px;
    border: 10px solid  rgb(255, 67, 67);
    border-radius: 50%;
    border: none;
    box-shadow: inset 3px 3px 3px  #f76d6d,
                inset -3px -3px 3px #d10303,
                -400px 0 0 395px rgb(255, 67, 67);
                
}
input[type=range]::-moz-range-thumb {
    width: 100%;
    -webkit-appearance: none;
    background-color:  rgb(255, 67, 67);
    width: 20px;
    height : 20px;
    border-radius: 50%;
    border: none;
    box-shadow: inset 3px 3px 3px  #f76d6d,
                inset -3px -3px 3px #d10303
}
input[type=”range”]::-ms-thumb {
    width: 100%;
    background-color:  rgb(255, 67, 67);
    width: 20px;
    height : 20px;
    border-radius: 50%;
    border: none;
    box-shadow: inset 3px 3px 3px  #f76d6d,
                inset -3px -3px 3px #d10303,
}
#voiceSelect {
    width: 100%;
    margin-bottom: 1.5rem;
    background-color:#f0f0f3 ;
    border-radius: 10px;
    border: none;
    box-shadow: inset 5px 5px 10px #c2c2c5,
                inset -5px -5px 10px #ffffff;
    padding: 0.5rem ;

}
#voiceSelect:focus{
    outline: none;
}

input[type=button] {
    width: 40%;
    padding : 0.5rem;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #c2c2c5,
                inset -5px -5px 10px #ffffff;
    color: rgb(248, 55, 55);
    font-weight: 700;
    font-size: 1rem;
}
input[type=button]#play{
    margin-left: 15%;
    color: rgb(35, 221, 35);
}
input[type=button]:active, input[type=button]:hover{
    background: linear-gradient(145deg, #ffffff, #d8d8db);
    box-shadow: none;
}
